---
title: litsynp.log
layout: "base.njk"
---

<h1 style="text-transform: uppercase;">About SJ</h1>
<hr>

<p>Hi, I'm SJ.</p>

<p>I'm a software engineer passionate about programming and dedicated to writing clean, minimal code.</p>

<p>My favorite programming languages are TypeScript, Rust, and Gleam.</p>

<p>I hope you enjoy my posts!</p>

<h2 style="text-transform: uppercase;">Links</h2>
<hr>

<ul>
  <li>
    <a href="https://github.com/litsynp">GitHub</a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/litsynp/">LinkedIn</a>
  </li>
</ul>

<h2 style="text-transform: uppercase;">Recent Posts</h2>
<hr>

<ul class="postlist">
  {%- for post in collections.posts | reverse | threePosts %}

    <li>
      <time class="postlist-date" datetime="{{ post.data.date | postDate }}">{{ post.data.date | postDate }}</time>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </li>

  {%- endfor %}

  <li>
    <a href="/posts">All Posts</a>
  </li>
</ul>
