---
title: Posts from litsynp
layout: "base.njk"
---

<div class="heading">Posts</div>

<ul class="postlist">
  {%- for post in collections.posts | reverse %}

    <li>
      <time class="postlist-date" datetime="{{ post.data.date | postDate }}">{{ post.data.date | postDate }}</time>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </li>

  {%- endfor %}
</ul>
