---
title: Series
layout: "base.njk"
---

<div class="heading">Series</div>
<hr>

<ul class="postlist">
  {%- for series in collections.series %}

    <li>
      {{ series.names.ko }}
      <ol>
        {%- for post in series.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {%- endfor %}
      </ol>
    </li>

    <br>

  {%- endfor %}
</ul>